/* Ajustes generales */
body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #333333d8;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Establece un tamaño de fuente base */
    line-height: 1.6; /* Ajusta el espacio entre líneas */
}

header {
    background-color: rgb(251, 240, 252);
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s, padding 0.3s;
    box-shadow: 0 2px 10px rgba(54, 150, 157, 0.193);
}

header.scrolled {
    background-color: rgba(240, 131, 216, 0.121);
    padding: 5px 38px;
}

header.scrolled nav ul li a {
    display: none;
}

header.highlighted {
    background-color: rgba(255, 242, 250, 0.93);
}

header.highlighted nav ul li a {
    display: flex;
    color: #333333ce;
}

header.highlighted nav ul li a:hover {
    font-size: 1.035em; 
    color: #a57999;
}

.logo img {
    max-height: 70px;
    box-shadow: 0 0 4px #5ac6eabf;
    border-radius: 10px;
}

nav {
    margin-right: 10%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333333ce;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    font-size: 1.035em; 
    color: #a57999;
    text-shadow: 0 0 2px #c0f7f6;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) {
    header {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: rgb(255, 242, 250);
        position: absolute;
        top: 90px; /* Ajusta según el tamaño del header */
        left: 0;
    }

    nav ul.showing {
        display: block;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        margin-left: 50%;
    }

    header.scrolled .menu-toggle {
        display: none;
    }

    header.highlighted .menu-toggle {
        display: block;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li a {
        display: block;
    }

}

section {
    padding: 60px 20px;
    margin-top: 80px;
}

#inicio {
    background-image: url('images/bannerhome.png');
    background-size: cover;
    background-position: center;
    color: #1e767f;
    text-align: center;
    padding: 200px 20px;
    position: relative;
    margin-top: 70px;
}

#inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 173, 250, 0.173);
    opacity: 100;
}

#inicio .inicio-content {
    position: relative;
    z-index: 1;
}

#inicio h1 {
    position: relative;
    bottom: 40px;
    font-size: 3.2em;
    margin: 0 0 10px;
    font-family: 'dancing script', sans-serif;
}

#inicio .logoinicio {
    position: relative;
    bottom: 50px;
    margin: 0;
    padding: 0;
    max-width: 200px;
}

#inicio .btn-cta {
    text-decoration: none;
    background-color: #fed5f3bd;
    color: #333333cf;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#inicio .btn-cta:hover {
    background-color: #b4e0e0;
}

#acerca, #terapias, #testimonios, #instagram, #contacto {
    max-width: 100%;
    margin: 0 auto;
    }

#brillopropio {
    margin: 0;
    background-image: url('images/3.png');
    background-size: cover;
    background-position: center;
}
#acerca {
    background-color: #9de6e441;
}

#acerca h2 {
    color: #be81ba;
    text-align: center;
    font-size: 2.5em; /* Aumentar el tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
}

#acerca p {
    font-family: 'roboto', sans-serif;
}

#testimonios {
    position: relative;
    height: 280px; /* Ajusta según necesites */
    overflow: hidden; /* Asegura que el pseudo-elemento no sobresalga */
    background: #fbe4f56e;
    opacity: 1.2;
}
#testimonios::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/fondotestimonios.png');
    background-size: cover;
    background-position: auto;
    opacity: 0.04; /* Ajusta la opacidad según necesites */
    z-index: 1;
}
.contenido {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del pseudo-elemento */
    color: black; /* Ajusta el color del texto según el fondo */
    padding: 20px;
}

#testimonios h2 {
    color: #bd88ae;
    text-align: center;
    font-size: 2.5em; /* Aumentar el tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
    }
    
/* Animaciones para h1 y h2 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animated {
    opacity: 0; /* Oculto por defecto */
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fade-in-up {
    animation-name: fadeInUp;
}

.scale-in {
    animation-name: scaleIn;
}

.animated.fade-in-up {
    opacity: 1;
    transform: translateY(0);
}


    /* Estilo para los títulos de sección */
    #terapias h2, #instagram h2, #contacto h2 {
    text-align: center;
    color: #bd88ae;
    font-size: 2.5em; /* Aumentar el tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
    }
    
    #brillopropio .frasebrillo {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 50px;
        font-family: 'great vibes', sans-serif;
        color: #34a0ae;
        box-shadow: 0 0 10px #f5cff26f;
    }

    #acerca .acerca-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    
    #acerca .acerca-content img {
    max-width: 300px;
    border-radius: 10%;
    margin-right: 40px;
    box-shadow: 0 0 10px #00000064;
    }
    
    #acerca .holacursiva {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
        margin-right: 10%;
        text-align: end;
        font-size: 40px;
        font-family: 'dancing script', sans-serif;
    }

    #acerca .acerca-content p {
    max-width: 700px;
    text-align: justify;
    }
    
    /* Servicios - Tarjetas */
#terapias {
    background-image: url('images/fondoservicios.png');
    background-size: cover;
    background-position: auto;
}

#terapias p {
    font-family: 'roboto', sans-serif;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card:hover img {
    width: 105%;
}
  
  .card h3 {
    margin: 20px 15px 10px;
    font-size: 1.2em;
    color: #333;
  }
  
  .card p {
    margin: 0 15px 20px;
    color: #666;
  }
  
  .card .more {
    display: none;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #b4deff56;
  }
  
  .card:hover .more {
    display: inline;
  }

  .card.hover, .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #b4deff56;
  }
  
  .card.hover .more, .card:hover .more {
    display: inline;
  }
  
  .card:hover img {
    width: 105%;
  }
  
  
  /* Responsividad */
  @media (max-width: 768px) {
    .services-container {
      flex-direction: column;
      align-items: center;
    }
  }

    .testimonios-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    }
    
    .testimonial {
    min-width: 100%;
    transition: transform 0.5s ease;
    }
    
    .testimonial p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: center;
    }
    
    .testimonial span {
    font-family: 'dancing script', sans-serif;
    font-size: 2em;
    display: block;
    text-align: right;
    font-weight: bold;
    }
    
    .lightwidget-widget {
    width: 100%;
    border: 0;
    overflow: hidden;
    }

    #instagram {
        background-image: url('images/fondoservicios.png');
        background-size: cover;
        background-position: auto;
    }

    .eapps-instagram-feed {
        background-image: url('images/fondoinstagram.png');
        background-size: cover;
        background-position: auto;
        border-radius: 30px;
        padding: 40px;
    }
    
    #contacto {
        background-color: #ffffff;
        padding: 60px 20px;
        text-align: center;
    }
    
    #contacto h2 {
        color: #ce99bf;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    #contacto h3 {
        font-family: 'dancing script', sans-serif;
        font-size: 2.5em;
        color: #6d6c6c;
        margin-top: 0;
    }
    
    #contacto .contacto-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    
    #contacto form {
        max-width: 600px;
        width: 100%;
        margin-right: 20px;
    }
    
    #contacto form label {
        display: block;
        margin-bottom: 10px;
        text-align: left;
    }
    
    #contacto form input,
    #contacto form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
    }
    
    #contacto form button {
        background-color: #fed5f3bd;
        color: #333;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    #contacto form button:hover {
        background-color: #b4e0e0;
    }
    
    #contacto .contact-info {
        margin-left: 40px;
        max-width: 400px;
        width: 100%;
        text-align: left;
    }
    
    #contacto .contact-info p {
        margin-bottom: 15px;
        line-height: 1.6;
    }
    
    #contacto .contact-info p i {
        margin-right: 10px;
    }

    #contacto a {
        color: #5c5b64;
        text-decoration: none;
        
    }
    #contacto a:hover {
        color: #499bc4;
        text-decoration: none;
        
    }

    @media (max-width: 400px) {
        .testimonial span {
            font-size: 25px;
            }

        #acerca .holacursiva {
            font-size: 30px;
            margin-top: 10px;
            margin-left: 20%;
        }
        #contacto .contact-info p {
            font-size: 14px;
        }
        #contacto h3 {
            font-size: 25px;
        }
        #inicio h1 {
            font-size: 20px;
        }
    }    
    
    @media (max-width: 768px) {

        #contacto .contacto-content {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        
        #contacto form,
        #contacto .contact-info {
            margin-right: 0;
            width: 100%;
            max-width: none;
        }

        #acerca .acerca-content img {
            margin: auto;
            }
        }
        @media (max-width: 1400px) {  
        #brillopropio .frasebrillo {
            font-size: 48px;
        }
        }
    
    footer {
    background-color: #07abbd1d;
    color: #000000;
    padding: 20px;
    text-align: center;
    }
    
    .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .social-links a i {
    font-size: 24px;
    margin: 0 10px;
    }

    .social-links a i:hover {
        color: #1d838f;
        }
    
    .social-links a .fab {
    font-size: 24px;
    margin: 0 10px;
    color: #000000;
    }

    .social-buttons {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1000;
        opacity: 0; /* Inicialmente invisibles */
        transform: translateX(100px); /* Inicialmente fuera de la vista */
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    
    .social-button {
        background-color: #3fc9db; /* Ajusta el color según sea necesario */
        color: #ffffff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 0 4px #959595;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .social-button i {
        font-size: 24px;
    }
    
    .social-button:hover {
        transform: scale(1.2) rotate(10deg); /* Añadido rotación ligera al hover */
        background-color: #23909cfd; /* Tonalidad más oscura del color original */
    }
    
    .social-buttons.visible {
        opacity: 1;
        transform: translateX(0);
    }
    
    /* Media Query for smaller screens */
    @media (max-width: 600px) {
        #brillopropio .frasebrillo {
            font-size: 32px
        }
        .social-buttons {
            bottom: 10px;
            right: 10px;
            margin-bottom: 4%;
        }
    
        .social-button {
            width: 40px;
            height: 40px;
        }
    
        .social-button i {
            font-size: 20px;
        }
    }
    
/* CSS adicional para hacer que el contenido sea responsive */
/* CSS adicional para hacer que todo el contenido sea responsive */


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    /* Centrar elementos principales */
    header, section, footer {
        max-width: 90%; /* Ajusta según sea necesario */
        margin: 0 auto; /* Centrar horizontalmente */
    }
}

/* Ajustar anchos y márgenes para pantallas pequeñas */
@media (max-width: 768px) {
    #contacto .contacto-content {
        flex-direction: column;
        align-items: center;
    }

    #contacto form,
    #contacto .contact-info {
        width: 100%;
        max-width: 90%; /* Ajustar según sea necesario */
        margin: 0 auto; /* Centrar horizontalmente */
    }

    #contacto form input,
    #contacto form textarea {
        width: 100%;
    }
}

